/Traning&Induction/nbproject/private/
/Traning&Induction/build/
/Training Solution @ Trantor/Training Solution @ Trantor/nbproject/private/
/Training Solution @ Trantor/Training Solution @ Trantor/build/